*{
    margin:0;
}
.logo{
    display: flex;
}
.navlinks{
    width: 40%;

}
.nav{
    display: flex;

    align-items: center;
    justify-content: space-around;
    background-color: rgb(red, green, blue);
    height: 70px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}